body {
  background: #ffbad9;
  background-color: #c2ecf9;
  background-image: url(purple-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  font-family: cursive
}
h2 {
  font-family: cursive
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(213, 130, 250);
  display: flex;
  justify-content: center;
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none
}
ul li a:hover {
  background-color: rgb(181, 106, 214)
}
